<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <style>
                .btn-primary {
                    background-color: orangered;
                    border-color: orange;
                }

                .btn-primary:hover {
                    background-color: orange;
                    border-color: orangered;
                }
                nav>li {
                    list-style-type: none;
                }
                .dropdown-toggle::after {
                    display:none;
                }
            </style>
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <div class="alert alert-warning sticky-top">
                    ¡Cuidado!, Estás viendo la página como el usuario <strong>{{ app.user.email }}</strong>. <a
                            href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Salir</a>
                </div>
            {% endif %}
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="/images/netflix-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    CutreFlix
                </a>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown" style="margin-right: 75px;">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="nav-profile-img rounded-circle" src="{{ asset('images/panda.jpg') }}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('user_preferences') }}">Preferencias</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Salir</a>
                        </div>
                    </li>
                {% else %}
                <li class="nav-item">
                    <span><a href="{{ path('app_register') }}">Registro</a></span>
                    <span><a href="{{ path('app_login') }}">Login</a></span>
                </li>
                {% endif %}
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
