{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
        .fa-star {
            color: #ffd931;
        }
    </style>

{% endblock %}
{% block title %}UpFlix cutre{% endblock %}

{% block content %}
    <div class="container">
        <h1>PELICULAS:</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <b>Última actualización:</b> {{ "now + 1 hour"|date("d-m-Y H:m") }}
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Favorito</th>
                <th>Titulo</th>
                <th>Sinopsis</th>
                <th>Tags</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for pelicula in peliculas %}
                <tr>
                    <td><a href="#"><i data-url="{{ path('star_pelicula', {slug: pelicula.slug}) }}" class="far fa-star fa-2x"></i></a></td>
                    <td><a href="{{ path('detalles_pelicula', {slug: pelicula.slug }) }}">{{ pelicula.titulo }}</a></td>
                    <td>{{ pelicula.descripcion }}</td>
                    <td>
                        {% for tag in pelicula.tags %}
                            <span class="badge badge-secondary">{{ tag.nombre }}</span>
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('edit_movie', {slug: pelicula.slug }) }}"><i class="fas fa-pencil-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location = '{{ path('new_movie') }}';">Nueva</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stars.js') }}"></script>
{% endblock %}
